header {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  max-width: 80%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

td,
th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.json {
  color: rgb(0, 176, 235);
}

.json > div {
  margin: 0 15px;
}
div div {
  margin: 0 30px;
}
